<div class="container my-4">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <div class="card" style="max-width:100%">
        <%= image_tag 'top_bg.jpg', class:"card-img", style:"width:100%" %>
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center" style="background-color:rgba(0,0,0,0.4)">
          <h1 class="text-white">スマフォトグラフィーについて</h1>
          <p class="text-white text-center">
            <br>
            スマフォトグラフィーは、<br>
            スマホで写真撮影をしている方に向けた写真投稿SNSです。<br>
            <br>
            スマホで撮影した写真の共有の場として利用していただくほか、<br>
            スマホで写真撮影を始めるきっかけにもなればと思います。<br>
            <br>
            ぜひ、ご利用ください。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>