<div class="container">
  <div class="row my-3 pt-3 d-flex justify-content-center">
    <h4 class="text-center">ユーザー一覧</h4>
  </div>
</div>

<div class="container mt-3">
  <div class="row d-flex flex-column">
    <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
        <div class="d-flex mb-4 flex-row justify-content-center">
          <div class="col-lg-2">
            <%= image_tag user.get_profile_image(100,100) %>
          </div>
          <div class="col-lg-2 text-body d-flex align-items-center justify-content-center">
            <h5><%= user.name %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container my-2">
  <div class="row">
    <div class="col-lg-12 mx-auto d-flex justify-content-center">
      <%= paginate @users %>
    </div>
  </div>
</div>